<app-menu></app-menu>
<section>
    <h1 class="mainBackground">User List</h1>
</section>
<div class="card-body">
    <a routerLink='/user-create'>
        <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
    <table class="table table-dark table-striped">
        <tbody>
            <tr>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Reviewer</th>
                <th>Admin</th>
                <th>Action</th>
            </tr>
            <tr *ngFor='let user of users'>
                <td>{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.email}}</td>
                <td>{{user.reviewer}}</td>
                <td>{{user.admin}}</td>
                <td>
                    <a routerLink='/user-detail/{{user.id}}'>
                        <img width='20' height='20' src='assets/details.png' title='User Details'>
                    </a> |
                    <a routerLink='/user-edit/{{user.id}}'>
                        <img width='20' height='20' src='assets/pencil-icon.png' title='Edit User'>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>